@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
body, html, main {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    height: 100%;
}

.container {
    height: 100%;
}

.title-header {
    cursor: default;
}

.subtitle {
    cursor: default;
    text-align: center;
}

.learn-more-btn {
    margin-top: 20px;
}